.rating {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.button {
  cursor: pointer;

  margin: 0;
  outline: none;
  border: none;
  background: none;
}

.notChanged {
  cursor: not-allowed;
}
