@import '../../../styles/mixins.scss';

.wrapper {
  padding: 16px;
  background-color: $color-white;

  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 8px;
}

.calendar {
  thead {
    color: $btn-color-pressed;
    font-weight: 300;
  }
}

.week-day {
  background: $bg-btn-pressed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 500;
}

.choise {
  &__date {
    margin-left: 4px;
    color: $color-grey40;

    & * {
      text-transform: capitalize;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btns {
    display: flex;
    align-items: center;

    & > button {
      padding: 4px;
      box-shadow: none;
      border: none;
    }
  }
}
