@import '../../../styles/mixins.scss';

.recoveryPassword {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  max-width: 570px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  & form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}

.wrapper {
  border-radius: $border-m;
  background-color: $color-white;
}

.register__back {
  cursor: pointer;
  padding: 20px 16px;
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  background: $color-grey10;
  color: $color-grey40;
  font-weight: bold;
  border-top-left-radius: $border-m;
  border-top-right-radius: $border-m;

  font-size: 12px;

  & svg {
    transition: $transition-m;
    fill: $color-grey40;
    stroke: $color-grey40;
  }

  &:hover {
    & svg {
      transform: translateX(-5px) scale(1.1);
    }

    text-decoration: underline;
  }
}

.form {
  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 48px 56px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @include mqS() {
      padding: 24px 16px;
    }
  }

  &-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > button {
      width: 100%;
    }
  }
}

.logo {
  margin-left: auto;
  margin-right: auto;
  color: $color-white;
}
